.footer {
  position: absolute;
  bottom: 0; 
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
/*  background-color: #f5f5f5;*/

}
.footer .container .text-muted {
  margin: 10px 0;
}
.tag {
	width:240px;
   	float: left;
    position: absolute;
   	left: 0px;
   	margin-top:3px;
   	margint-left:3px;  
   	z-index: 1000;
   	background-color: #EFEFEF;   
   	padding: 5px;
   	overflow-y:auto;   
}
.eachResult{
	padding:5px 0px 5px 5px;
	border-bottom:dashed 1px #999999;
	background: url('/images/slBg.png') repeat-x;
}
.panelSelected {
	border:dashed 1px #999999;
	background: #fefefe;
}

.panelSelected a {
	font-size: 110%;
	text-decoration: underline;
}
.directionPanel{
	margin-top: 2%;
	border :solid 1px #ebebeb;
	padding :5px;
	font-size:0.8em;
	background: #f7f7f7;
	box-shadow: 5px 5px 2px #999999;
}
.directionPanel label{
	background-color:#FFFFFF;
	text-align:center;
	font-size:1.3em;
}