.footer {
  position: absolute;
  bottom: 0; 
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

}
.footer .container .text-muted {
  margin: 20px 0;
}
.tag {
	width:240px;
   	float: left;
    position: absolute;
   	left: 0px;
   	margin-top:3px;
   	margint-left:3px;
  /* top: 0px;*/
   	z-index: 1000;
   	background-color: #EFEFEF;   
   	padding: 5px;
   	overflow-y:auto;   
 /*  color: #FFFFFF;
   font-weight: bold;*/
}
.eachResult{
	padding:5px 0px 5px 5px;
	border-bottom:dashed 1px #999999;
	background: url('/images/slBg.png') repeat-x;
}
.panelSelected {
	border:dashed 1px #999999;
}

.panelSelected a {
	font-size: 110%;
	text-decoration: underline;
}