/*
* Starveling V0.0.0
* Copyright 2015-2016, Anycode
* A derived work based on:-
*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box; }
.column,
.columns {
	width: 100%;
	float: left;
	box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
	.container {
		width: 90%;
		padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
	.container {
		width: 90%; }
	.column,
	.columns {
		margin-left: 4%; }
	.column:first-child,
	.columns:first-child {
		margin-left: 0; }

	.one.column,
	.one.columns                    { width: 4.66666666667%; }
	.two.columns                    { width: 13.3333333333%; }
	.three.columns                  { width: 22%;            }
	.four.columns                   { width: 30.6666666667%; }
	.five.columns                   { width: 39.3333333333%; }
	.six.columns                    { width: 48%;            }
	.seven.columns                  { width: 56.6666666667%; }
	.eight.columns                  { width: 65.3333333333%; }
	.nine.columns                   { width: 74.0%;          }
	.ten.columns                    { width: 82.6666666667%; }
	.eleven.columns                 { width: 91.3333333333%; }
	.twelve.columns                 { width: 100%; margin-left: 0; }

	.one-third.column               { width: 30.6666666667%; }
	.two-thirds.column              { width: 65.3333333333%; }

	.one-half.column                { width: 48%; }

	/* Offsets */
	.offset-by-one.column,
	.offset-by-one.columns          { margin-left: 8.66666666667%; }
	.offset-by-two.column,
	.offset-by-two.columns          { margin-left: 17.3333333333%; }
	.offset-by-three.column,
	.offset-by-three.columns        { margin-left: 26%;            }
	.offset-by-four.column,
	.offset-by-four.columns         { margin-left: 34.6666666667%; }
	.offset-by-five.column,
	.offset-by-five.columns         { margin-left: 43.3333333333%; }
	.offset-by-six.column,
	.offset-by-six.columns          { margin-left: 52%;            }
	.offset-by-seven.column,
	.offset-by-seven.columns        { margin-left: 60.6666666667%; }
	.offset-by-eight.column,
	.offset-by-eight.columns        { margin-left: 69.3333333333%; }
	.offset-by-nine.column,
	.offset-by-nine.columns         { margin-left: 78.0%;          }
	.offset-by-ten.column,
	.offset-by-ten.columns          { margin-left: 86.6666666667%; }
	.offset-by-eleven.column,
	.offset-by-eleven.columns       { margin-left: 95.3333333333%; }

	.offset-by-one-third.column,
	.offset-by-one-third.columns    { margin-left: 34.6666666667%; }
	.offset-by-two-thirds.column,
	.offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

	.offset-by-one-half.column,
	.offset-by-one-half.columns     { margin-left: 52%; }

}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
	font-size: 62.5%; }
body {
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Titillium Web", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 600; }
h1 { font-size: 5.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h1:first-of-type { margin-top: 3rem; }
h2 { font-size: 4.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 4.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 3.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 2.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 2.5rem; line-height: 1.6;  letter-spacing: 0; }
blockquote { font-size: 1.8rem; line-height: 1.5;  letter-spacing: 0;; }
h1 ~ blockquote  { font-size: 2.4rem; }
h2 ~ blockquote  { font-size: 2.3rem; }
h3 ~ blockquote { font-size: 2.2rem; }
h4 ~ blockquote { font-size: 2.1rem; }
h5 ~ blockquote { font-size: 2.0rem; }
p { font-size: 1.6rem; letter-spacing: 0; }
em { font-style: normal;
	font-weight: 600; }

/* Larger than phablet */
@media (min-width: 550px) {
	h1 { font-size: 6.0rem; }
	h1:first-of-type { margin-top: 6rem; }
	h2 { font-size: 5.2rem; }
	h3 { font-size: 4.6rem; }
	h4 { font-size: 4.0rem; }
	h5 { font-size: 3.4rem; }
	h6 { font-size: 2.5rem; }
	blockquote { font-size: 2.3rem;}
	h1 ~ blockquote  { font-size: 3rem; }
	h2 ~ blockquote  { font-size: 2.9rem; }
	h3 ~ blockquote { font-size: 2.8rem; }
	h4 ~ blockquote { font-size: 2.7rem; }
	h5 ~ blockquote { font-size: 2.6rem; }
	p { font-size: 2rem; letter-spacing: 0; }
}

p {
	margin-top: 0; }

blockquote {
	margin-left: 0;
	margin-right: 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { text-decoration: none; }
a:hover { text-decoration: underline; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 5rem;
	padding: 0 3rem;
	text-align: center;
	font-size: 2rem;
	font-weight: 400;
	line-height: 4.8rem;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	text-decoration: none;
	outline: 0; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; }
textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border-style: solid;
	border-width: 1px;
	outline: 0; }
label,
legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600; }
fieldset {
	padding: 0;
	border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
	display: inline; }
label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
	list-style: circle inside; }
ol {
	list-style: decimal inside; }
ol, ul {
	padding-left: 0;
	margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%; }
li {
	margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px; }
pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
th:first-child,
td:first-child {
	padding-left: 0; }
th:last-child,
td:last-child {
	padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
	margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
	margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-center-text {
	text-align: center;
}

.u-pad-below {
	padding-bottom: 2rem;
}

.u-well > * {
	margin: 0.5rem;
}
.u-full-width {
	width: 100%;
	box-sizing: border-box; }
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box; }
.u-pull-right {
	float: right; }
.u-pull-left {
	float: left; }
.u-pull-right-or-full-width {
	float: right; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top-width: 1px;
	border-top-style: solid;
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
	content: "";
	display: table;
	clear: both; }

/* Base Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: Generally don't change base colors unless you are creating a whole new theme,
these are all done with RGBA so they (in theory) just work with any background color. You can choose
'default' or 'inverted',then modify the customizable colors from there.
*/

body {                              color: rgba(0, 0, 0, 0.7); }
blockquote {                        color: rgba(0, 0, 0, 0.74); }
h1 ~ blockquote, h2 ~ blockquote, h3 ~ blockquote {
									color: rgba(0, 0, 0, 0.44); }
h4 ~ blockquote {                   color: rgba(0, 0, 0, 0.44); }
h5 ~ blockquote {                   color: rgba(0, 0, 0, 0.54); }
h6 ~ blockquote {                   color: rgba(0, 0, 0, 0.64); }
@media (min-width: 550px) {
	body.inverted blockquote {      color: rgba(0, 0, 0, 0.44); }
	body.inverted h1 ~ blockquote { color: rgba(0, 0, 0, 0.28); }
}
hr {                     border-top-color: rgba(0, 0, 0, 0.16); }
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
									color: rgba(0, 0, 0, 0.74);
							 border-color: rgba(0, 0, 0, 0.74); }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
.button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
									color: rgba(0, 0, 0, 0.74);
						 background-color: rgba(0, 0, 0, 0.28);
							 border-color: rgba(0, 0, 0, 0.08); }
code {                   background-color: rgba(0, 0, 0, 0.08);
							 border-color: rgba(0, 0, 0, 0.18); }
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"],
input[type="url"], input[type="password"], textarea, select {
						 background-color: rgba(255, 255, 255, 0.3);
							 border-color: rgba(0, 0, 0, 0.16); }
th, td {              border-bottom-color: rgba(0, 0, 0, 0.16); }
::-webkit-input-placeholder {       color: rgba(0, 0, 0, 0.7); }
:-moz-placeholder {                 color: rgba(0, 0, 0, 0.7); }
::-moz-placeholder {                color: rgba(0, 0, 0, 0.7); }
:-ms-input-placeholder {            color: rgba(0, 0, 0, 0.7); }
body.inverted {                     color: rgba(255, 255, 255, 0.7); }
body.inverted blockquote {          color: rgba(255, 255, 255, 0.74); }
body.inverted h1 ~ blockquote, body.inverted h2 ~ blockquote, body.inverted h3 ~ blockquote {
									color: rgba(255, 255, 255, 0.44); }
@media (min-width: 550px) {
	body.inverted blockquote {      color: rgba(255, 255, 255, 0.44); }
	body.inverted h1 ~ blockquote { color: rgba(255, 255, 255, 0.28); }
}
body.inverted hr {       border-top-color: rgba(255,255,255, 0.16); }
body.inverted .button, body.inverted button, body.inverted input[type="submit"], body.inverted input[type="reset"],
body.inverted input[type="button"] {
									color: rgba(255, 255, 255, 0.74);
							 border-color: rgba(255, 255, 255, 0.44); }
body.inverted .button:hover, body.inverted button:hover, body.inverted input[type="submit"]:hover, body.inverted input[type="reset"]:hover,
body.inverted input[type="button"]:hover, body.inverted .button:focus, body.inverted button:focus, body.inverted input[type="submit"]:focus,
body.inverted input[type="reset"]:focus, body.inverted input[type="button"]:focus {
									color: rgba(255, 255, 255, 0.74);
						 background-color: rgba(255, 255, 255, 0.28);
						 	 border-color: rgba(255, 255, 255, 0.08); }
body.inverted code {     background-color: rgba(255, 255, 255, 0.08);
							 border-color: rgba(255, 255, 255, 0.18); }
body.inverted input[type="email"], body.inverted input[type="number"], body.inverted input[type="search"],
body.inverted input[type="text"], body.inverted input[type="tel"], body.inverted input[type="url"],
body.inverted input[type="password"], body.inverted textarea, body.inverted select {
						 background-color: rgba(0, 0, 0, 0.3);
							 border-color: rgba(255, 255, 255, 0.18); }
th, td {              border-bottom-color: rgba(255, 255, 255, 0.16); }
::-webkit-input-placeholder {       color: rgba(255, 255, 255, 0.7); }
:-moz-placeholder {                 color: rgba(255, 255, 255, 0.7); }
::-moz-placeholder {                color: rgba(255, 255, 255, 0.7); }
:-ms-input-placeholder {            color: rgba(255, 255, 255, 0.7); }

/* Customizable Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: maybe sass/less could be useful here
*/

a {                                 color: rgba(9, 215, 114, 0.9); }
a:hover {                           color: rgba(33, 199, 178, 0.9); }
body.inverted a {                   color: rgba(9, 215, 114, 0.9); }
body.inverted a:hover {             color: rgba(33, 199, 178, 0.9); }
.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary,
input[type="button"].button-primary {
									color: rgba(255,255,255, 1);
						 background-color: rgba(9, 215, 114, 0.9);
							 border-color: rgba(9, 215, 114, 0.9); }
body.inverted .button.button-primary, body.inverted button.button-primary, body.inverted input[type="submit"].button-primary,
body.inverted input[type="reset"].button-primary, body.inverted input[type="button"].button-primary {
									color: rgba(255,255,255, 1);
						 background-color: rgba(9, 215, 114, 0.9);
							 border-color: rgba(9, 215, 114, 0.9); }
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus,
button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
									color: rgba(255,255,255, 1);
						 background-color: rgba(11, 179, 88, 0.9);
							 border-color: rgba(33, 199, 178, 0.9); }
body.inverted .button.button-primary:hover, body.inverted button.button-primary:hover, body.inverted input[type="submit"].button-primary:hover,
body.inverted input[type="reset"].button-primary:hover, body.inverted input[type="button"].button-primary:hover, body.inverted .button.button-primary:focus,
body.inverted button.button-primary:focus, body.inverted input[type="submit"].button-primary:focus, body.inverted input[type="reset"].button-primary:focus,
body.inverted input[type="button"].button-primary:focus {
									color: rgba(255,255,255, 1);
						 background-color: rgba(9, 250, 139, 0.9);
							 border-color: rgba(33, 199, 178, 0.9); }
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus,
input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
							 border-color: rgba(33, 199, 178, 0.7); }
body.inverted input[type="email"]:focus, body.inverted input[type="number"]:focus, body.inverted input[type="search"]:focus,
body.inverted input[type="text"]:focus, body.inverted input[type="tel"]:focus, body.inverted input[type="url"]:focus,
body.inverted input[type="password"]:focus, body.inverted textarea:focus, body.inverted select:focus {
							 border-color: rgba(33, 199, 178, 0.6); }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
